@model PostViewModel
@{
    ViewData["Title"] = "Photo by " + @Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="post-main" id="uPhoto">
    <div class=" modal-maxw" style="margin:0;">
        <div class="mod3Xp">
            <div class="modal-layo">
                <div class="modal-photo">
                    <div class="modal-header" style="border:none;">
                        <div>
                            <div class="owner-photo">
                                <span>
                                    <a asp-action="Details" asp-controller="User" asp-route-id="@Model.UserId">
                                        <img class="owner-img" src="@(Model.UserImg??"/images/man.png")" asp-append-version="true" />
                                    </a>
                                </span>
                                <a asp-action="Details" asp-controller="User" asp-route-id="@Model.UserId" class="modal-header-textn">
                                    <h6 class="modal-title" id="exampleModalLabel" style="font-family: Arial, Helvetica, sans-serif;">@Model.Username</h6>
                                </a>
                            </div>
                        </div>
                        <div class="float-right">
                            @if (Model.Liked)
                            {
                                <a class="btn btn-danger btn-hw pos-button modal-btns" style="color:white;" title="like this photo" onclick="ChangeLike(this,@Model.Id)">
                                    <span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-light btn-hw pos-button modal-btns" title="like this photo" onclick="ChangeLike(this,@Model.Id)">
                                    <span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
                                </a>
                            }
                            <button class="btn btn-light btn-hw pos-button modal-btns" data-target="#collection_modal" data-toggle="modal" title="add to collection" onclick="GetCollection()">
                                <svg class="bi bi-plus" width="1em" height="1em" margin-bottom: 2px; viewBox="2 4 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"></path>
                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"></path>
                                </svg>
                            </button>
                            <a class="btn btn-light pos-button btn-hw modal-btns" title="download" download href="@Model.Photo.Url">
                                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"></path>
                                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"></path>
                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="modal-body mod5xp">
                        <div class="mdbody">
                            <a href="@Url.Content(Model.Photo.Url)" style="cursor:zoom-in" target="_blank">
                                <img class="photo-main" src="@Model.Photo.Url" alt="@Model.Tags" asp-append-version="true">
                            </a>
                        </div>
                        <div>
                            <div class="modal-btn-footer">
                                <div class="com-m">
                                    <button class="slide-toggle-m" style="padding:4px;">
                                        <img class="toggle" src="~/images/comment.png" width="25" height="25" />
                                    </button>
                                </div>
                                <div class="btn-footer">
                                    <div class="photo-location l"><span><i class="fa fa-map-marker"></i></span> @Model.Photo.Location</div>
                                    <div class="f">
                                        <button class="" id="report" type="button" data-toggle="tooltip" title="report this photo" data-placement="bottom"  onclick="report(@Model.Id)" style=" margin-right: 5px;"><span><i class="fa fa-flag-o"></i></span></button>
                                        <button class="btn btn-light pos-button modal-btns" data-toggle="modal" data-target="#share_modal" type="button" title="share this photo">Share</button>
                                        <button class="btn btn-light pos-button modal-btns" data-toggle="modal" data-target="#infoPhoto" type="button" title="info">Info</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="com">
                        <button class="slide-toggle" style="padding:4px;">
                            <img class="toggle" id="comment-panel" src="~/images/comment.png" width="25" height="25" />
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-comment" style="display:block;">
                    <div class="user-comment-layout">
                        @foreach (var comment in Model.Comment)
                        {
                            <div class="user-comment" style="font-family: Arial, Helvetica, sans-serif;">
                                <div class="user-layout">
                                    <span>
                                        <a asp-route-id="@comment.UserId" asp-action="Details" asp-controller="User">
                                            <img src="@(comment.UserImg??"/images/man.png")" class="owner-img" />
                                        </a>
                                    </span>
                                </div>
                                <span class="comment-content" >
                                    <span class="c-content">
                                        <a asp-route-id="@comment.UserId" asp-action="Details" asp-controller="User" class="user-name" >
                                            @comment.Username
                                        </a>
                                        <span class="comment-time">@comment.CreateAt.ToString("dd/MM/yyyy h:m")</span><br />

                                        <span>
                                            @comment.Contents
                                        </span>

                                    </span>
                                </span>

                            </div>
                            <div class="c-del">
                                <button id="c-del" title="Delete your comment">Delete</button>
                            </div>
                        }

                    </div>
                    <div>

                        @if (Context.Session.GetInt32("userid").HasValue)
                        {
                            <form class="form-comment" asp-action="Comment" asp-controller="Post">
                                <input asp-for="Id" hidden readonly/>
                                <div class="comment-box">
                                    <textarea class="comment-content" name="content" style="font-family: 'Roboto', sans-serif;"></textarea>
                                </div>
                                <button class="btn btn-send" type="submit">Submit</button>
                            </form>
                        }
                        else
                        { 
                        <form class="form-comment">
                            
                            <div class="comment-box">
                                <textarea class="comment-content" name="content" disabled style="font-family: 'Roboto', sans-serif;"></textarea>
                            </div>
                            <button class="btn btn-send" type="button" disabled>Submit</button>
                        </form>
                        }
                        </div>
                </div>
            </div>
            <div>
                <div class="text" style="margin-left:14px;margin-right:14px">Related photos</div>
                <div class="modal-footer">
                    <div class="grid-photos">
                        <div>
                            @foreach (var related in Model.RelatedPost)
                            {
                                @if (@related.Id % 3 == 0)
                                {
                                    <div class="img-x">
                                        <figure>
                                            <div class="img-content">
                                                <a class="a-cursor" asp-controller="Post" asp-route-id="@related.Id" asp-action="Index">
                                                    <div class="img-rel">
                                                        <img class="photo-content" src="@related.Photo.Url" asp-append-version="true" alt="@related.Tags" />
                                                    </div>
                                                </a>
                                                <div class="img-icon">
                                                    <div class="img-hover-background i-animation"></div>
                                                    <div class="img-button-top img-button-display i-animation">
                                                        <div class="img-button">
                                                            <button class="btn btn-light pos-button">
                                                                <span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> </span> @*Like*@
                                                            </button>
                                                            <button class="btn btn-light">
                                                                <svg class="bi bi-plus" width="1em" height="1em" viewBox="2 4 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="img-button-bottom img-button-display i-animation">
                                                        <div class="owner-photo">
                                                            <span>
                                                                <a asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                    <img class="owner-img" src="@(related.UserImg??"/images/man.png")" asp-append-version="true" />
                                                                </a>
                                                            </span>
                                                            <a class="owner-name" asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                @related.Username
                                                            </a>
                                                        </div>
                                                        <div class="img-button">
                                                            <a class="btn btn-light" href="@related.Photo.Url" download>
                                                                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                                                                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            @foreach (var related in Model.RelatedPost)
                            {
                                @if (@related.Id % 3 == 1)
                                {
                                    <div class="img-x">
                                        <figure>
                                            <div class="img-content">
                                                <a class="a-cursor" asp-controller="Post" asp-route-id="@related.Id" asp-action="Index">
                                                    <div class="img-rel">
                                                        <img class="photo-content" src="@related.Photo.Url" asp-append-version="true" alt="@related.Tags" />
                                                    </div>
                                                </a>
                                                <div class="img-icon">
                                                    <div class="img-hover-background i-animation"></div>
                                                    <div class="img-button-top img-button-display i-animation">
                                                        <div class="img-button">
                                                            <button class="btn btn-light pos-button">
                                                                <span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> </span> @*Like*@
                                                            </button>
                                                            <button class="btn btn-light">
                                                                <svg class="bi bi-plus" width="1em" height="1em" viewBox="2 4 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="img-button-bottom img-button-display i-animation">
                                                        <div class="owner-photo">
                                                            <span>
                                                                <a asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                    <img class="owner-img" src="@(related.UserImg??"/images/man.png")" asp-append-version="true" />
                                                                </a>
                                                            </span>
                                                            <a class="owner-name" asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                @related.Username
                                                            </a>
                                                        </div>
                                                        <div class="img-button">
                                                            <a class="btn btn-light" href="@related.Photo.Url" download>
                                                                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                                                                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            @foreach (var related in Model.RelatedPost)
                            {
                                @if (@related.Id % 3 == 2)
                                {
                                    <div class="img-x">
                                        <figure>
                                            <div class="img-content">
                                                <a class="a-cursor" asp-controller="Post" asp-route-id="@related.Id" asp-action="Index">
                                                    <div class="img-rel">
                                                        <img class="photo-content" src="@related.Photo.Url" asp-append-version="true" alt="@related.Tags" />
                                                    </div>
                                                </a>
                                                <div class="img-icon">
                                                    <div class="img-hover-background i-animation"></div>
                                                    <div class="img-button-top img-button-display i-animation">
                                                        <div class="img-button">
                                                            <button class="btn btn-light pos-button">
                                                                <span id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> </span> @*Like*@
                                                            </button>
                                                            <button class="btn btn-light">
                                                                <svg class="bi bi-plus" width="1em" height="1em" viewBox="2 4 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="img-button-bottom img-button-display i-animation">
                                                        <div class="owner-photo">
                                                            <span>
                                                                <a asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                    <img class="owner-img" src="@(related.UserImg??"/images/man.png")" asp-append-version="true" />
                                                                </a>
                                                            </span>
                                                            <a class="owner-name" asp-controller="User" asp-action="Details" asp-route-id="@related.UserId">
                                                                @related.Username
                                                            </a>
                                                        </div>
                                                        <div class="img-button">
                                                            <a class="btn btn-light" href="@related.Photo.Url" download>
                                                                <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                                                                    <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                                                                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Detail Info Photo Modal -->
<div class="fade bgiPhoto" id="infoPhoto" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="cursor:auto">
            <div class="iPL30r">
                <h2>Info</h2>
                <span></span>
            </div>
            <div class="iPhoto-x">
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Views</span>
                    <span>@(Model.TotalViews/2)</span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Likes</span>
                    <span>@Model.TotalLike</span>
                </div>
            </div>
            <hr />
            <div class="iPhoto-x">
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Camera model</span>
                    <span>@(string.IsNullOrEmpty(Model.Photo.CameraModel) ? "--" : Model.Photo.CameraModel)</span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Aperture</span>
                    <span>@((string.IsNullOrWhiteSpace(Model.Photo.Aperture) )? "--" : Model.Photo.Aperture)</span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Focal length</span>
                    <span>@((Model.Photo.FocalLength.Length>0 )? Model.Photo.FocalLength + " mm":"--")</span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">ISO</span>
                    <span>@((Model.Photo.Iso == 0 )? Model.Photo.Iso : 0) </span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Shutter speed</span>
                    <span>@((string.IsNullOrWhiteSpace(Model.Photo.ShutterSpeed))? "--" : Model.Photo.ShutterSpeed)</span>
                </div>
                <div class="iPhotoVi iPa230x">
                    <span class="iPhoto-title">Dimensions</span>
                    <span>@(Model.Photo.Width + "x" + Model.Photo.Height)</span>
                </div>
            </div>
        </div>
    </div>
</div>

@* collection modal *@
<div class="fade bgiPhoto" id="collection_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="cursor: auto;min-height: 400px;">
            <div class="collection-content">
                <div class="collection">
                    <div class=collection-bg style="background-image: url('./images/f686c873-8cc3-4963-b74c-65d76401d22a-shutter.jpg');"></div>
                    <div class="collection-all">
                        <div class="collection-list">
                            <div class="collection-list-item">
                                <h3>Add to Collection</h3>
                                <button class="btn create-item" id="create-item">
                                    <h6>Create a new collection</h6>
                                </button>
                                <ul class="collection-item">
                                    <li class="item-detail">
                                        <button class="btn addcol" >
                                            <div class="item-name">
                                                <span>0 photos</span>
                                                <h6></h6>
                                            </div>
                                            <div class="addto" title="add to collection">
                                                <svg class="bi bi-plus" width="1em" height="1em" viewBox="2 4 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                                                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                                                </svg>
                                            </div>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="collection-create">
                            <div class="">
                                <h3>Create new collection</h3>
                                <form id="newcollection" method="post">
                                    <div class="create-item">
                                        <input class="colname" type="text" name="colname" value="" placeholder="Collection name" required />
                                    </div>
                                    <div class="create-item">
                                        <input class="coldes" type="text" name="coldes" placeholder="Description" value="" />
                                    </div>
                                    <div class=collection-action>
                                        <button class="btn craete-cancel" type="button"><u>Cancel</u></button>
                                        <button class="btn crebtn" type="button"><u>Create</u></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* share modal *@
<div class="fade bgiPhoto" id="share_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="cursor:auto">
            <div class="iPL30r">
                <h2 style="font-size:21px;">Share</h2>
                <span style="font-size:12px;">Photo by user</span>
            </div>
            <div class="iPL30r">
                <div class="iPhoto">
                    @*<div></div>
                        <div class="fb-share-button" data-href="https://localhost:44340/" data-layout="button" data-size="large">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44340%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a>
                        </div>*@
                    @*<div class="share-option" id="fb-root" data-href="https://localhost:44340/">
                        <a class="btn btn-light btn-share" title="Share on facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44340%2F&amp;src=sdkpreparse">
                            <svg class="fb-logo" version="1.1" fill="#1778f2" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false"><path d="M32 16.1c0-8.9-7.2-16-16-16S0 7.2 0 16.1c0 8 5.9 14.6 13.5 15.8V20.7H9.4v-4.6h4.1v-3.5c0-4 2.4-6.2 6-6.2 1.8 0 3.6.3 3.6.3v3.9h-2c-2 0-2.6 1.2-2.6 2.5v3h4.4l-.7 4.6h-3.7v11.2C26.1 30.7 32 24.1 32 16.1"></path></svg>
                            <span style="font-size:12px;">Facebook</span>
                        </a>

                    </div>
                    <div class="share-option">
                        <a class="btn btn-light btn-share" href="https://twitter.com/intent/tweet" title="Share on facebook" target="_blank">
                            <svg class="fb-logo" fill="#1da1f2" version="1.1" viewBox="0 0 32 32" width="32" height="32" aria-hidden="false"><path d="M10.2 28.9c12 0 18.6-9.9 18.6-18.6v-.8c1.2-1 2.3-2.1 3.2-3.4-1.2.5-2.5.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-2.5-2.6-6.6-2.8-9.2-.3-1.7 1.6-2.4 4-1.9 6.3-5.2-.3-10-2.8-13.4-6.9-1.7 3-.9 6.8 2 8.7-1 0-2.1-.3-3-.8v.1c0 3.1 2.2 5.8 5.3 6.4-1 .3-2 .3-3 .1.9 2.7 3.3 4.5 6.1 4.6-2.3 1.8-5.2 2.8-8.1 2.8-.5 0-1 0-1.6-.1 3.1 1.9 6.6 2.9 10.1 2.9"></path></svg>
                            <span style="font-size:12px;">Twitter</span>
                        </a>
                    </div>*@
                    <input id="url" type="text" name="url" value="" readonly />
                    <span>
                        <button type="button" name="url" onclick="geturl()" style=" margin-top: 6px;" title="copy post url"/>
                        <svg id="clipboard" aria-hidden="true" focusable="false" data-prefix="far"  width="20px"  data-icon="clipboard" class="svg-inline--fa fa-clipboard fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm144 418c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V118c0-3.3 2.7-6 6-6h42v36c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-36h42c3.3 0 6 2.7 6 6z"></path></svg>
                    </span>

                    <div class="share-option"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="btn_ontop" title="Go to top">
    <i class="fa fa-2x fa-angle-up" style="color: #747474;"></i>
</button>
@section Scripts{

    
    <script>
        var url = window.location.href;
        $("[data-toggle=popover]")
            .popover({ html: true })

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=1153748928321536&autoLogAppEvents=1" nonce="DodgR2ne"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#url').val(url);
          
        });
    //Get the button
    var ontop = document.getElementById("btn_ontop");
    window.onscroll = function () { scrollFunction() };


    function geturl() { 
        var copyText = document.getElementById("url");      
        copyText.select();
       
        copyText.setSelectionRange(0, 99999); 
        document.execCommand("copy");
        alert("your url has copied to clipboard")

        }

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            ontop.style.display = "block";
        } else {
            ontop.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $('#create-item').on('click', function () {
        $('.collection-list').hide();
        $('.collection-create').show();
    });

    $('.craete-cancel').on('click', function () {
        $('.collection-list').show();
        $('.collection-create').hide();
    });

        $(document).ready(function () {
            $('.com').click(function () {
                $('.modal-comment').animate({
                    width: "toggle",
                    duration: 500
                });

            });
            $('.com-m').click(function () {
                $('.modal-comment').animate({
                    width: "toggle",
                    duration: 500
                });

            });
        });

    //function LikedPost(e,id) {
    //    if (e.classList.contains("btn-light")) {
    //    //    e.currentTarget.classList.add("btn-danger");
    //        //    e.currentTarget.classList.remove("btn-light");
    //        e.classList.remove("btn-light");
    //        e.classList.add("btn-danger");
    //        $(e).css("color", "white");
    //    }
    //    else {
    //        e.classList.remove("btn-danger");
    //        e.classList.add("btn-light");
    //        $(e).css("color", "black");
    //    }
    //    console.log(id);
    //    }

        function ChangeLike(e,ide) {
             $.ajax({
                type: "POST",
                 url: "@Url.Action("Like")",
                 data: {id:ide},
                 success: function (msg) {
                     if (msg["status"]) {
                         e.classList.remove("btn-light");
                         e.classList.add("btn-danger");
                         $(e).css("color", "white");
                     }
                     else if (!msg["status"]){
                         e.classList.remove("btn-danger");
                         e.classList.add("btn-light");
                         $(e).css("color", "black");

                     }
                     else {
                       //  window.location.href = "@Url.Action("Login", "Account")";
                     }
                     //console.log(msg["url"]);
                     //console.log(msg["status"]);
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        }



        $(document).ready(function () {
            var colname = $('.colname').val();
            $('.crebtn').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("createCollection", "Collection")",
                    data:{
                        'colname':$('.colname').val(),
                        'coldes':$('.coldes').val()
                    },
                    success: function (respone) {
                        if (respone.result == 'Redirect') {
                            window.location.href = "@Url.Action("Login", "Account")";
                        }
                        else {
                            if (respone.result == 'false') {
                                alert(respone.message)
                            }
                            else {
                                CreateNewListCollection(respone.message);
                                $('.collection-list').show();
                                $('.collection-create').hide();
                            }
                        }
                    }
                });
            });
        });

        function report(postid) {
                $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("report","Post")",
                    data: { id: postid },
                    dataType: 'json',
                    success: function (respone) {
                        if (respone.status == true) {
                            alert("Are you sure to report this post");
                        }
                        else {
                            window.location.href = "@Url.Action("Login", "Account")";
                        }
                    },
                    error: function (error) {
                         console.log(error);
                        }
                 });
            }
         function GetCollection() {
                $.ajax(
                {
                    type: "GET",
                    url: "@Url.Action("GetCollection","Collection")",
                    success: function (respone) {
                        if (respone != null) {
                            $(".collection-item").empty();
                            respone.forEach(function (item, index) {
                                CreateNewListCollection(item);
                            });
                        }
                    },
                    error: function (error) {
                         console.log(error);
                    }
                 });
         }

        function CreateNewListCollection(item) {
            $(".collection-item").append(
                "<li class= 'item-detail'>" +
                "<a class='btn addcol' href='/Collection/AddtoCollection?collectionid="+item["id"]+"&postid="+@Model.Id+"'>" +
                    "<div class='item-name'>" +
                        "<span></span>" +
                        "<h4>"+item["name"]+"</h4>" +
                    "</div>" +
                    "<div class='addto' title='add to collection'>" +
                        "<svg class='bi bi-plus' width='1em' height='1em' viewBox='2 4 12 12' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>" +
                            "<path fill-rule='evenodd' d='M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z' />" +
                            "<path fill-rule='evenodd' d='M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z' />" +
                        "</svg>" +
                    "</div>" +
                "</a>" +
                "</li >"
            );
        }
    </script>
}