@model IEnumerable<PostViewModel>
@{
    Layout = "_admin";
    ViewData["Title"] = "Shutter - Admin dashboard";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Report dashboard</h1>
            <div class="card mb-4" style="float:left;padding:0;">
                <div class="card-header">
                    <i class="fa fa-table mr-1"></i>
                    <div class="" style="float:right;">
                        <input id="search" type="text" placeholder="Search..">
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered"  width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>Time</th>
                                    <th>TriggeredBY</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody id="dataTable">
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.UserId</td>                                       
                                        <td>@item.CreateAt.ToString("dd / MM /  yyyy")</td>
                                        <td>@item.triggeredBy</td>
                                        <td>
                                            @if(item.hasban){
                                                <input class="btn btn-success" id="hidepost" type="button" value="has hidden" onclick="undoreport(@item.Id);" title="Click to unhide this photo"/>
                                            }else{
                                                <input class="btn btn-danger" id="hidepost" type="button" value="hide" onclick="report(@item.Id);" title="Click to hide this photo"/>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; shutter</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#report').addClass("active");
        });

        function report(postid) {
        $.ajax(
            {
                type:"POST",
                url: "@Url.Action("doreport","Admin")",
                data: { id: postid },
                dataType: 'json',
                success: function (respone) {
                    if (respone.status == true) {
                            window.location.href = "@Url.Action("report")";
                    }
                    else {
                        alert(respone.message);
                        window.location.href = "@Url.Action("Login","Account")";
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function undoreport(postid) {
            $.ajax(
            {
                type:"POST",
                url: "@Url.Action("undoreport","Admin")",
                data: { id: postid },
                dataType: 'json',
                success: function (respone) {
                    if (respone.status == true) {
                            window.location.href = "@Url.Action("undoreport")";
                    }
                    else {                    
                        alert(respone.message);
                        window.location.href = "@Url.Action("Login","Account")";
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }


        $(document).ready(function () {
            $('#search').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                $('#dataTable tr').filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}