@model Img_socialmedia.Models.UserViewModel

@{
    ViewData["Title"] = "Profile";
    ViewBag.showsearchbar = false;
}

 
<div class="user_container">
    <main>
        <div class="row">
            <div class="left col-lg-4" style="position: relative;">
                <div class="profile">
                    <div class="photo-left" style="text-align:center;">
                        <img class="photo" src="@Url.Content(Model.ProfileImg??"/images/man.png")" asp-append-version="true" />

                    </div>
                    <div class="info_edit">
                        <h4 class="name">@(Model.Firstname+" "+Model.Lastname)</h4>
                    </div>
                    <div class="stats row" style="margin:0;">
                        <div class="stat col-xs-4">
                            <p class="number-stat">@Model.Post.ToList().Count</p>
                            <p class="desc-stat">Uploads</p>
                        </div>
                        <div class="stat col-xs-4" style="margin-left: 5px;">
                            <p class="number-stat">@Model.Collection.ToList().Count</p>
                            <p class="desc-stat">Colection</p>
                        </div>
                        <button class="stat col-xs-4" style="margin-left: 5px;" data-toggle="modal" data-target="#followModal" onclick="GetFollower(@Model.Id)">
                            <p class="number-stat" id="followerc">@(ViewData["Follower"] ?? 0)</p>
                            <p class="desc-stat">Follower</p>
                        </button>
                        <button class="stat col-xs-4" style="margin-left: 5px;" data-toggle="modal" data-target="#followModal" onclick="GetFollowing(@Model.Id)">
                            <p class="number-stat" id="followingc">@(ViewData["Following"] ?? 0)</p>
                            <p class="desc-stat">Following</p>
                        </button>      
                    </div>

                    <p class="desc">@Model.Bio</p>
                    <div class="social">
                        @*<i class="fa fa-facebook-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>*@
                        Join at @Model.CreateAt.ToString("dd/MM/yyyy")
                        <br /><br />
                        @if (Context.Session.GetInt32("userid").HasValue)
                        {
                            @if (Model.Id != Context.Session.GetInt32("userid"))
                            {
                                if (Model.hasFollowed)
                                {
                                    <button class="btn btn-outline-danger" onclick=Follow(this,@Model.Id)>Unfollow</button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-primary" onclick=Follow(this,@Model.Id)>Follow</button>
                                }
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="right col-lg-8">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="gal" data-toggle="tab" href="#gallery">Photos</a></li>
                    <li><a id="col" data-toggle="tab" href="#collection">Collections</a></li>
                </ul>

                <div class="tab-content">
                    <div id="gallery" class="tab-pane fade in active show" style="padding-top: 20px;">
                        <div class="gallery" id="photos">
                            @foreach (var item in Model.Post)
                            {
                                <a asp-route="PostDetail" asp-route-id="@item.Id">
                                    <img src="@item.Photo.Url" asp-append-version="true" />
                                </a>
                            }
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    <div id="collection" class="tab-pane" style="padding-top: 20px;">
                        <div class="row">
                            <div class="col-row collection-card">
                                @foreach (var item in Model.Collection)
                                {
                                    <div class="column">
                                        <div class="card" onclick="GetCollectionDetail(@item.Id)">
                                            <q>@item.Name</q>
                                        </div>
                                        <p>@item.CollectionDetail.Count() photos</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="collection-detail" class="tab-pane" style="padding-top: 20px;">
                        <div class="gallery" id="photos-cd">

                        </div>
                    </div>
                </div>
            </div>

            @*<ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#galery">Photos</a></li>

            <li><a data-toggle="tab" href="#collection">Collections </a></li>

        </ul>*@


        </div>

    </main>

</div>
<div class="modal" tabindex="-1" role="dialog" id="followModal">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Following</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-content" style="padding:5px;overflow:auto;max-height:430px;">

            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#gal").click(function () {
                $('#gallery').show();
                $('#collection').hide();
                $("#collection-detail").hide()
            });
            $("#col").click(function () {
                $('#collection').show();
                $('#gallery').hide();
                $("#collection-detail").hide()
            });
        });
        function GetCollectionDetail(ide) {
              $.ajax(
                {
                    type: "GET",
                    url: "@Url.Action("GetCollectionDetail","Collection")",
                      data: { id: ide },
                      dataType:"json",
                      success: function (response) {
                        console.log(response);
                          if (response != null) {
                              $("#photos-cd").empty();
                              response.forEach(function (item, index) {
                                CreateNewListCollection(item);
                            });
                            $("#collection-detail").show();
                            $('#collection').hide();
                            $('#gallery').hide();
                        }
                    },
                    error: function (error) {
                         console.log(error);
                    }
                 });
        }
        function CreateNewListCollection(item) {
            $("#photos-cd").append(
                    "<a href='/post/" + item["postId"]+"'>" +
                        "<img src='" + item["postPhoto"]+"'/>"+
                    "</a>");
        }

        function Follow(ed,ide) {
                  $.ajax({
                    type: "POST",
                    url: "@Url.Action("Follow","User")",
                      data: { id: ide },
                      dataType:"json",
                      success: function (response) {
                          if (response["msg"] == 2) {
                              ed.classList.remove("btn-outline-primary");
                              ed.classList.add("btn-outline-danger");
                              $(ed).html("Unfollow");
                              var d = $("#followingc").text();
                              $("#followingc").empty();
                              $("#followingc").text(parseInt(d,10) + 1);
                          } else {
                              ed.classList.remove("btn-outline-danger");
                              ed.classList.add("btn-outline-primary");
                              $(ed).html("Follow");
                              var d = $("#followingc").text();
                              $("#followingc").empty();
                              $("#followingc").text(parseInt(d, 10) - 1);
                          }
                    },
                    error: function (error) {
                         console.log(error);
                    }
                 });
        }

        function GetFollower(ide) {
                   $.ajax({
                    type: "GET",
                    url: "@Url.Action("Follower", "User")",
                      data: { id: ide },
                      dataType:"json",
                       success: function (response) {
                           $(".modal-body-content").empty();
                           $(".modal-title").empty();
                           $(".modal-title").text("Follower");
                          if (response != null) {
                              response.forEach(function (item, index) {
                                  FollowAppend(item);
                              });
                           }
                          else {
                              $(".modal-body-content").append("<p>Not following someone yet</p>");
                           }
                    },
                    error: function (error) {
                         console.log(error);
                    }
                 });
        }

        function GetFollowing(ide) {
                   $.ajax({
                    type: "GET",
                    url: "@Url.Action("Following","User")",
                      data: { id: ide },
                      dataType:"json",
                       success: function (response) {
                           $(".modal-body-content").empty();
                           $(".modal-title").empty();
                           $(".modal-title").text("Following");
                          if (response != null) {
                              response.forEach(function (item, index) {
                                  FollowAppend(item);
                              });
                          }
                          else {
                              $(".modal-body-content").append("<p>Not following someone yet</p>");
                          }
                    },
                    error: function (error) {
                         console.log(error);
                    }
                 });
        }

        function FollowAppend(item) {
            $(".modal-body-content").append(
               "<div style='margin-bottom:5px;'>" +
                    "<a href='/User/Details/"+item["id"]+"'>" +
                        "<img src='" + (item["profileImg"]??"/images/man.png")+"' width='50' height='50' style='border-radius:100%'>" +
                        "<span style='margin-left:7px;font-size:120%'>"+item["firstname"] + " " + item["lastname"] + "</span>" +
                    "</a>" +
                "</div>");
        }
    </script>
}
