@model Img_socialmedia.Models.PhotoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhotoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.camera_model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.camera_model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aperture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aperture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shutter_speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shutter_speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.focal_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.focal_length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
