@model IEnumerable<Img_socialmedia.Models.PhotoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.camera_model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aperture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shutter_speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.focal_length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.create_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.camera_model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aperture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shutter_speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.focal_length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.create_at)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
